@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.background{
    background-color:#e0e0e0 ;

}

.title{
    color: #1343a3;
    font-family: 'Roboto', sans-serif;
           
}
.name{
    font-family: 'Roboto', sans-serif;
    color: #686868;
    font-size: 20px;
}

.logo{
    width: 12em;
    height: 12em;  
}

.text-item{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 15;
}

a:link{ 
    text-decoration: none;
}

a:hover{
    color: #1343a3;
}

a:active{
    color: black;
}
.seta{
    width: 4em;
    height: 4em;
    margin-top: 2em;
    opacity: 60%;
    
}
.seta:hover{
    opacity: 80%;
}

